<footer class="footer-area bg-img bg-gradient-overlay">
    <div class="container text-right">
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="single-footer-widget">
                    <h1 class="widget-title">{{ info.subject }}</h1>
                    <p>{{ info.description }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="copywrite-content">
                    <p>
                        طراحی سایت توسط <a href="http://seopost.net/"> سئو پست </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
